 .install_wrapper {
  /* margin: 15px; */
  align-items: center;
  appearance: none;
  order: 3;
  background-color: #75c836;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#50b753  0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  /* display: inline-flex; */
  font-family: "JetBrains Mono",monospace;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;

  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  /* height: fit-content; */
  padding: var(--padding-sm);
}
.install_wrapper:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.install_wrapper:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.install_wrapper:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


 .install_wrapper button {
  font-family: cartoon;
  /* color: #fb942d; */
  border: none;
  background: none;
  padding: 0px;
  outline: none;
  /* font-size: 1.3rem; */
  cursor: pointer;
  height: 24px;
  pointer-events: none;
}


.disable{
  background: #b8bbb5;
}
.content-wrapper{
    /* position: relative; */
    inset: 0 0 0 0;
}
.icon{
    width: 128px;
    margin-top: -101px;
    transform: translateX(-10%);
}
.overlay{
    position: fixed;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.27);
    z-index: 10;
}

.content{
  position: fixed;
  
    z-index: 15;
    width: 100%;
    /* border-radius: 6px; */
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    background: white;
    padding: 15px;
    box-shadow: 0 0px 8px rgb(0 0 0 / 45%);

}
.description{
  align-items: center;
  font-weight: bold;

}
 .btn__wrapper{
  display: flex;
  justify-content: center;
    flex-wrap: wrap;
}
.install {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;

}
.install img{
  width: 128px;
  height: 38px;
}

.not_now{
  border: solid 1px rgb(188, 185, 185);
  color: #75c836ad;
  outline: none;
  padding: 10px;
  height: 38px;
  margin: 1px;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  
}