.content-wrapper{
    position: relative;
    inset: 0 0 0 0;
}
.icon{
    width: 128px;
    margin-top: -101px;
}
.overlay{
    position: fixed;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.27);
    z-index: 10;
}

.content{
    z-index: 15;
    position: fixed;
    width: 30rem;
    max-width: 90%;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background: white;
    padding: 15px;

}
.install {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;

}
.install img{
  width: 128px;
  height: 38px;
}

  .not-now{
    border: solid 1px rgb(188, 185, 185);
    color: #75c836ad;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    
  }