


.main {
  min-height: 100dvh;
  margin: 0;
  background-image: url(/background_orange-min.png);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px 10px 0px 10px;
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main .section{
  
  display:flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  flex-direction:row;
  width:100%;
}
.main .content_wrapper{
  
  padding-top: 10rem;
  min-height:100vh ;
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media (max-height:900px) {
  .main .content_wrapper{
  
    margin-top: 2rem !important;
  
  
  }
}
@media (max-width:650px) {
  .main .content_wrapper{
  
    margin-top: 5rem !important;
  
  
  }
}

@media (max-width:650px) {
  .main {
  
    background-image: url(/Mbackground-min.png);
  
  
  }
}




