@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.main {
  height: 100vh;
  margin: 0;
  background-image: url(/background_orange.png);
  margin: -8px;
  box-sizing: border-box;
}

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.languages_wrapper {
  margin-bottom: 25px;
}
.main .languages {
  position: absolute;
  top: 10px;
  left: 10px;
}
.main .languages p {
  display: flex;
  gap: 5px;
}
.main .languages .active {
  background: #76c836;
  border: #334425 solid 2px;
  border-radius: 2px;
}

.main .icon {
  width: 34px;
}
.main h3 {
  font-size: 2rem;
  padding: 15px;
  position: relative;
  line-height: 40px;
  font-weight: bold;
  color: white;
  background: #fb942d;
  border-radius: 5px;
  margin: 16px 0 40px;
}
.main h3 img {
  width: 75px;
  position: absolute;
  top: -27px;
  left: 50%;
  transform: rotate(29deg) translateX(-50%);
}

.main form {
  display: flex;
  flex-direction: column;
}
.main form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main form i {
  color: rgb(45, 45, 45);
  align-self: flex-end;
}

.main input[type="text"] {
  /* position: absolute;
  top: 142px;
  width: 65%;
  left: 46.5px; */
  width: 70vw;
  max-width: 450px;
  padding: 22px 8px;
  border-radius: 26px;
  margin-bottom: 24px;
  border: solid 9px #f88c30;
  outline: none;
  width: 70vw;
  max-width: 450px;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main button[type="submit"] {
  margin-bottom: 15px;
  padding: 12px 0;
  color: rgb(255, 255, 255);
  background-color: #76c836;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.main .result {
  font-weight: bold;
  width: 63vw;
  max-width: 450px;
  word-break: break-word;
}
.main .wrapper .img {
  border-radius: 5px;
  position: absolute;
  width: 72px;
  left: -88px;
  top: -43px;
}

.main .wrapper {
  position: relative;
  background: white;
  border-radius: 15px;
  border-top-left-radius: 0px;
  width: fit-content;
  padding: 15px;
  padding-top: 20px;
  margin-top: 40px;
  margin-left: 73px;
}
.main .wrapper::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  top: 0px;
  left: -5%;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0%);
  clip-path: polygon(0 0, 100% 100%, 100% 0%);
}
.main .label {
  width: 75px;
}

.loader_wrapper {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #d29b65;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader_wrapper .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #fb942d; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.loader_wrapper .img {
  width: 250px;
}
.remove {
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* rabbit */

.rabbit {
  width: 5em;
  height: 3em;
  background: #fff;
  border-radius: 70% 90% 60% 50%;
  position: relative;
  box-shadow: -0.2em 1em 0 -0.75em #b78e81;
  transform: rotate(0deg) translate(-2em, 0);
  animation: hop 1s infinite linear;
  z-index: 1;
}
.no-flexbox .rabbit {
  margin: 10em auto 0;
}
.rabbit:before {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  background: white;
  border-radius: 100%;
  top: 0.5em;
  left: -0.3em;
  box-shadow: 4em 0.4em 0 -0.35em #3f3334, 0.5em 1em 0 white, 4em 1em 0 -0.3em white, 4em 1em 0 -0.3em white, 4em 1em 0 -0.4em white;
  animation: kick 1s infinite linear;
}
.rabbit:after {
  content: "";
  position: absolute;
  width: 0.75em;
  height: 2em;
  background: white;
  border-radius: 50% 100% 0 0;
  transform: rotate(-30deg);
  right: 1em;
  top: -1em;
  border-top: 1px solid #f7f5f4;
  border-left: 1px solid #f7f5f4;
  box-shadow: -0.5em 0em 0 -0.1em white;
}
.clouds {
  background: white;
  width: 2em;
  height: 2em;
  border-radius: 100% 100% 0 0;
  position: relative;
  top: -5em;
  opacity: 0;
  transform: translate(0, 0);
  animation: cloudy 1s infinite linear forwards;
  box-shadow: 5em 2em 0 -0.3em white, -2em 2em 0 0 white;
}
.clouds:before, .clouds:after {
  content: '';
  position: absolute;
  box-shadow: 5em 2em 0 -0.3em white, -2em 2em 0 white;
}
.clouds:before {
  width: 1.25em;
  height: 1.25em;
  border-radius: 100% 100% 0 100%;
  background: white;
  left: -30%;
  bottom: 0;
}
.clouds:after {
  width: 1.5em;
  height: 1.5em;
  border-radius: 100% 100% 100% 0;
  background: white;
  right: -30%;
  bottom: 0;
}
@keyframes hop {
  20% {
    transform: rotate(-10deg) translate(1em, -2em);
    box-shadow: -0.2em 3em 0 -1em #b78e81;
 }
  40% {
    transform: rotate(10deg) translate(3em, -4em);
    box-shadow: -0.2em 3.25em 0 -1.1em #b78e81;
 }
  60%, 75% {
    transform: rotate(0) translate(4em, 0);
    box-shadow: -0.2em 1em 0 -0.75em #b78e81;
 }
}
@keyframes kick {
  20%, 50% {
    box-shadow: 4em 0.4em 0 -0.35em #3f3334, 0.5em 1.5em 0 white, 4em 1.75em 0 -0.3em white, 4em 1.75em 0 -0.3em white, 4em 1.9em 0 -0.4em white;
 }
  40% {
    box-shadow: 4em 0.4em 0 -0.35em #3f3334, 0.5em 2em 0 white, 4em 1.75em 0 -0.3em white, 4.2em 1.75em 0 -0.2em white, 4.4em 1.9em 0 -0.2em white;
 }
}
@keyframes cloudy {
  40% {
    opacity: 0.75;
    transform: translate(-3em, 0);
 }
  55% {
    opacity: 0;
    transform: translate(-4em, 0);
 }
  90% {
    transform: translate(0, 0);
 }
}
