
@font-face {
    font-family: "cartoon";
    src: url(/cartoon.ttf);
    font-display: fallback;
  }

 :root{
  --xl: clamp(1rem,2vw + 0.8rem ,2rem);
  --md:clamp(0.8rem,2vw + 0.4rem,1.3rem);;
  --sm:clamp(0.6rem,2vw + 0.2rem,1rem);
  --xsm:clamp(0.4rem,1vw + 0.1rem,0.8rem);
  --padding-xxl:min(7vw,60px);
  --padding-xl:min(5vw,40px);
  --padding-md:min(3vw,20px);
  --padding-sm:min(2vw,10px);
  --padding-xsm:min(1vw,5px);
 } 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
