.image{
    border-radius:6px;
    border:solid 1px #dbc9c994;
    display:flex;
    margin-inline:auto;
    max-width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 256px;
    height: 256px;
   
}
.options{
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  cursor: pointer;
  gap: 10px;

}
.image-download{
  outline: none;
  border: none;
  width: 24px;
  background: none;

}
.full-screen{
  outline: none;
  border: none;
  width: 24px;
  background: none;

 

  
}


/**********Rabbit Lens***********/

.camera {
  

    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  
  }

  .lens{
    position: fixed;
    top: 10vh;
    width: 30rem;
    max-width: 70%;
    z-index: 100;
    padding: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    max-height: 80vh;
  
  }
  .lens .lens_close_wrapper  {
    display: flex;
      justify-content: flex-end;
      align-items: flex-end;
  }
  .lens .lens_close_wrapper .selection  {
   margin: 0;
   font-size: 1.2rem;
  }
  .lens .lens_close_wrapper button{
    
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  
  }
  .lens .lens_close_wrapper button img{
  
    width: 32px;
    
  }
  .black{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.226);
  
  }

 .lens .floatingImage{
    max-height: 100%;
    width: 100%;
 }
 
 
  